<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <title th:text="${title}"></title>
</head>
<body>
    <h1 class="text-center text-3xl">Kino Der Toten</h1>
    <h1 class="text-center text-xl">Add A Creator</h1>
    <h1 th:text="${status}" class="text-center text-xl text-green-500"></h1>
    <br>
    <form class="max-w-sm mx-auto" method="post">
        <div class="mb-5">
            <input type="text" th:name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5    " placeholder="Creator Name " required />
        </div>
        <div class="mb-5">
            <input type="text" th:name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5    " placeholder="Creator email " required />
        </div>

        <div class="flex justify-center">
            <button type="submit" class="text-white bg-green-700 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center  ">Add Creator</button>
        </div>
    </form>
    <br>
    <div class="flex justify-center">
        <a th:href="@{/addVideo}" type="submit" class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center  ">Add Video</a>
    </div>
    <br>

    <div class="flex justify-center">
        <a th:href="@{/listAllCreators}" type="submit" class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center  ">List All Creators</a>
    </div>
    </body>
</html>